body {
    overflow-x: hidden;
}

#wrapper {
    display: flex;
    width: 100%;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
}

#page-content-wrapper {
    width: 100%;
    padding: 20px;
}

.sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.list-group-item {
    padding: 20px 15px;
}

.navbar-nav {
    align-items: center;
}

.navbar-nav .nav-item {
    padding-left: 20px;
}

.badge-pill {
    font-size: 14px;
    width: 30px;
    text-align: center;
}
